#map{
    width:520px;
    height:520px;
	border: 1px solid black;
}
#map DIV{
    width:40px;
    height:40px;
    float:left;
}
.move_up_0{
    background-image:url(../pic/0.bmp);
}
.move_up_1{
    background-image:url(../pic/1.bmp);
}
.move_up_2{
    background-image:url(../pic/2.bmp);
}
.move_up_3{
    background-image:url(../pic/3.bmp);
}
.strelka_po_diag_0{
    background-image:url(../pic/4.bmp);
}
.strelka_po_diag_1{
    background-image:url(../pic/5.bmp);
}
.strelka_po_diag_2{
    background-image:url(../pic/6.bmp);
}
.strelka_po_diag_3{
    background-image:url(../pic/7.bmp);
}
.empty_cell{
    background-color:#accc00;
}
.sea{
    background-color:#0080ff;
}
.strelka_vo_vse_po_diag{
}
.strelka_up_d_l_r{
}
.horses{
}
.whirligig_2{
}
.whirligig_3{
}
.whirligig_4{
}
.whirligig_5{
}
.ice{
}
.catcher{
}
.fort{
}
.aborigenka{
}
.rom{
}
.crocodille{
}
.cannibal{
}
.aerostat{
}
.airplane{
}
.storage_1{
}
.storage_2{
}
.storage_3{
}
.storage_4{
}
.storage_5{
}
.ship_0{
}
.ship_1{
}
.ship_2{
}
.ship_3{
}
.closed{
}
.strelka_dv_po_diag_0{
}
.strelka_dv_po_diag_1{
}
.strelka_dv_po_diag_2{
}
.strelka_dv_po_diag_3{
}
.strelka_l_r_0{
}
.strelka_l_r_1{
}
.strelka_l_r_2{
}
.strelka_l_r_3{
}
.strelka_ne_w_s_0{
}
.strelka_ne_w_s_1{
}
.strelka_ne_w_s_2{
}
.strelka_ne_w_s_3{
}
.gun_0{
}
.gun_1{
}
.gun_2{
}
.gun_3{
}