body{
	padding:0px;
}
#map{
    width:650px;
    height:650px;
	border: 1px solid black;
    float: left;
}
#map DIV{
    width:50px;
    height:50px;
    float:left;
}
#map_list{
    width: 200px;
    float: left;
    border: 1px solid blue;
    margin-right: 10px;
}
#left{
	width:200px;
	float:left;
}
#debug{
	width:200px;
	float:left;
}
#select_game{
	width: 500px;
	height:500px;
	border-radius:10px;
	border: 1px solid black;
	padding:10px;
	position:absolute;
	margin: -260px -260px 0;
	top:50%;
	left:50%;
	
}
#map_list_big{
	width: 458px;
	height: 400px;
	border:1px solid black;
	margin:10px;
	padding:10px;
	overflow: auto;
}
div[druggable=true]{
    -webkit-user-drag:element;
    -webkit-user-select: none;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
div {
    display: block;
}
.move_up_0{
    background-image:url(../pic/50/1_0.PNG);
}
.move_up_1{
    background-image:url(../pic/50/1_1.PNG);
}
.move_up_2{
    background-image:url(../pic/50/1_2.PNG);
}
.move_up_3{
   background-image:url(../pic/50/1_3.PNG);
}
.strelka_po_diag_0{
    background-image:url(../pic/50/3_0.PNG);
}
.strelka_po_diag_1{
    background-image:url(../pic/50/3_1.PNG);
}
.strelka_po_diag_2{
    background-image:url(../pic/50/3_2.PNG);
}
.strelka_po_diag_3{
    background-image:url(../pic/50/3_3.PNG);
}
.empty_cell{
   background-image:url(../pic/50/0.PNG);
}
.sea{
    background-color:#0080ff;
}
.strelka_vo_vse_po_diag{
   background-image:url(../pic/50/4.PNG);
}
.strelka_up_d_l_r{
   background-image:url(../pic/50/5.PNG);
}
.horses{
   background-image:url(../pic/50/8.PNG);
}
.whirligig_2{
   background-image:url(../pic/50/9.PNG);
}
.whirligig_3{
   background-image:url(../pic/50/10.PNG);
}
.whirligig_4{
   background-image:url(../pic/50/11.PNG);
}
.whirligig_5{
   background-image:url(../pic/50/12.PNG);
}
.ice{
   background-image:url(../pic/50/13.PNG);
}
.catcher{
   background-image:url(../pic/50/14.PNG);
}
.fort{
   background-image:url(../pic/50/16.PNG);
}
.aborigenka{
   background-image:url(../pic/50/17.PNG);
}
.rom{
   background-image:url(../pic/50/18.PNG);
}
.crocodille{
   background-image:url(../pic/50/19.PNG);
}
.cannibal{
   background-image:url(../pic/50/20.PNG);
}
.aerostat{
   background-image:url(../pic/50/21.PNG);
}
.airplane{
   background-image:url(../pic/50/22.PNG);
}
.storage_1{
   background-image:url(../pic/50/23.PNG);
}
.storage_2{
   background-image:url(../pic/50/24.PNG);
}
.storage_3{
   background-image:url(../pic/50/25.PNG);
}
.storage_4{
   background-image:url(../pic/50/26.PNG);
}
.storage_5{
   background-image:url(../pic/50/27.PNG);
}
.ship_0{
   background-image:url(../pic/50/29_0.PNG);
}
.ship_1{
   background-image:url(../pic/50/29_1.PNG);
}
.ship_2{
   background-image:url(../pic/50/29_2.PNG);
}
.ship_3{
   background-image:url(../pic/50/29_3.PNG);
}
.closed{
   background-image:url(../pic/50/30.PNG);
}
.strelka_dv_po_diag_0{
   background-image:url(../pic/50/2_0.PNG);
}
.strelka_dv_po_diag_1{
   background-image:url(../pic/50/2_1.PNG);
}
.strelka_dv_po_diag_2{
   background-image:url(../pic/50/2_2.PNG);
}
.strelka_dv_po_diag_3{
   background-image:url(../pic/50/2_3.PNG);
}
.strelka_l_r_0{
   background-image:url(../pic/50/7_0.PNG);
}
.strelka_l_r_1{
   background-image:url(../pic/50/7_1.PNG);
}
.strelka_l_r_2{
   background-image:url(../pic/50/7_0.PNG);
}
.strelka_l_r_3{
   background-image:url(../pic/50/7_1.PNG);
}
.strelka_ne_w_s_0{
   background-image:url(../pic/50/6_0.PNG);
}
.strelka_ne_w_s_1{
   background-image:url(../pic/50/6_1.PNG);
}
.strelka_ne_w_s_2{
   background-image:url(../pic/50/6_2.PNG);
}
.strelka_ne_w_s_3{
   background-image:url(../pic/50/6_3.PNG);
}
.gun_0{
   background-image:url(../pic/50/15_0.PNG);
}
.gun_1{
   background-image:url(../pic/50/15_1.PNG);
}
.gun_2{
   background-image:url(../pic/50/15_2.PNG);
}
.gun_3{
   background-image:url(../pic/50/15_3.PNG);
}
.unit{
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#a00;
	float:left;
}
#player_info{
	position:absolute;
	right:20px;
	
}
#player_info_bg{
	position:relative;
	width:200px;
	height:70px;
	background-color:#000;
	opacity:0.7;
	border-radius:10px;
	z-index:0;
	margin-left: 0px;
	margin-top:-52px;
}
#player_info_txt{
	position:relative;
	width:120px;
	height:35px;
	padding-left:60px;
	z-index:1;
	top:10px;
	left:10px;
	color:#FFF;
	padding-top:15px;
	text-align:right;
}
#player_info_txt p{
/*	border: 1px solid white;*/
	margin: -10px 0px 0px 0px;
	text-align:left;
}
#player_info_txt a{
/*	border: 1px solid red;*/
	margin: -10px 0px 0px 0px;
	text-align:left;
	color:#f00;
	text-decoration: none;
	padding-right:10px;
}
#create_game{
	width:100%;
	height:100%;
	background-color:#000;
	position:absolute;
	display:none;
	margin-top:-8px;
	margin-left:-8px;
	overflow:hidden;
}
#select_option{
	width:500px;
	height:300px;
	border-radius:10px;
	border: 1px solid black;
	padding:10px;
	position:absolute;
	margin: -160px -260px 0;
	top:50%;
	left:50%;
	display:none;
	background-color:#fff;
	opacity:0.4;
}
#select_option header{
	height: 50px;
	color:#000;
	font: bold italic 18pt sans-serif;
	text-align:center;
}
#select_option ul{
	height:200px;
}
#select_option footer{
	height:40px;
	text-align:right;
	padding-right:10px;
	padding-bottom:10px;
}